## Carregando dados no Pandas

In [69]:
import pandas as pd

df = pd.read_csv(r"C:\Users\apvs\Documents\DataPokemom.csv")

# df = pd.read_csv('pokemon_data.txt', delimiter='\t')  arquivos CSV

In [70]:
# Descobrindo o tamanho do DataFrame (Nº linhas, Nº Colunas)

df.shape

(800, 12)

In [4]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
df['HP']

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [ ]:
# Filtrando linha 3 e 9 especificas do DataFrame

df.loc[[3,9]]

# Filtrando linha 3 até 6 especificas do DataFrame

df.loc[3:6]

## Leitura de dados no pandas

In [17]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Classificando / Descrevendo Dados

In [22]:
df.describe()   # leitura estatistica apenas das colunas númericas

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [23]:
df.sort_values('Name')  # Listando em ordem crescente alfabetica pela coluna nome

df.sort_values('Name', ascending = False)  # Listando em ordem decrescente alfabetica pela coluna nome

df.sort_values(['Type 1', 'HP'], ascending=[1,0]) # Lista o "Tyoe 1" em ordem crescente e o HP em ordem decrescente

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [72]:
# Mostrar e contar quantas vezes a variavel aparece na coluna

df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [73]:
# Mostrando quantos dados estão vazios por coluna

faltantes = df.isnull().sum()
print(faltantes)

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [74]:
# Mostrando quantos dados estão faltando por coluna percentualmente

faltantes_percentual= (df.isnull().sum() / 800)*100
print(faltantes_percentual)

#              0.00
Name           0.00
Type 1         0.00
Type 2        48.25
HP             0.00
Attack         0.00
Defense        0.00
Sp. Atk        0.00
Sp. Def        0.00
Speed          0.00
Generation     0.00
Legendary      0.00
dtype: float64

### Fazendo alterações nos dados

In [45]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']  # criando uma nova coluna chamda "Total"

df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [71]:
# Mudando nome da Coluna "Name" e "Legendary"

df.rename(columns={"Name":"Nome","Legendary":"Lendário"}) #, inplace = True (para modificar no DataFrame original)

,#,Nome,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Lendário
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# Excluir todas as linhas com valor Vazio

df.dropna()

In [ ]:
# Substituindo dados faltantes

df["Type 2"].fillna("Tipo desconhecido",inplace=True)                # Substitui por uma string
df["Type 2"].fillna(df["HP"].mean(),inplace=True)                   # Substitui pela média da coluna

df.head(2)

### Salvando nossos dados (exportando para o formato desejado)

In [ ]:
df.to_csv('modified.csv', index=False)

df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

## Filtrando Dados

In [33]:
df.loc[df['Type 1'] == "Grass"]  # filtrando na coluna "Type" apenas o tipo "Glass"

df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')] # filtro "Type 1" é "Grass" ou "Type 2" é "Poison"

df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] # filtrando na coluna "Type" o tipo "Glass", "Type 2" apenas "Poison" e com "HP" maior que 70 

df.loc[df['Name'].str.contains('Mega')] # filtro os nomes que contem a palavra "Mega"

df.loc[~df['Name'].str.contains('Mega')] # filtro os nomes que não contem a palavra "Mega"

df.loc[df["Name"]!="Bulbasaur"] # Filtrando o Nome diferente de "Bulbasaur"

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [35]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)  # baixando o novo banco de dados resetando o index(coluna a esquerda da #)

new_df.to_csv('filtro.csv')

## Mudanças Condicionais

In [38]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Fogo'   # Substitui a palavra 'Fire' por "Fogo" na coluna "Type ''"

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fogo,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fogo,Water,80,110,120,130,90,70,6,True,600

In [41]:
df_novo = df.loc[df['Type 1'] == 'Fire', 'Name'] = 'Hiago'  # Noemando todos os "Type 1" "Fire" com o meu nome

df_novo

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Hiago,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Hiago,Fire,Water,80,110,120,130,90,70,6,True,600

In [51]:
df_novo = df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']  # mais de uma condição de filtro

df_novo

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test 1,Test 2,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test 1,Test 2,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test 1,Test 2,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test 1,Test 2,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test 1,Test 2,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test 1,Test 2,600

## Estatísticas agregadas (Groupby)

In [53]:
df.groupby(['Type 1']).mean() # organizando a média pelo "Type 1" (posso usar o count e o sum tambem)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [61]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)#['Attack']  # Organizando da maior para menor média de ataque pelo "Type 1"

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [62]:
df.groupby(['Type 1', 'Type 2']).mean()['Attack']  # Tabela dinamica com o grupo "Type 1" subgrupo "Type 2" pela média do ataque, mostrando só a coluna Ataque

Type 1  Type 2
Bug     Electric     62.000000
        Fighting    155.000000
        Fire         72.500000
        Flying       70.142857
        Ghost        90.000000
                       ...
Water   Ice          83.333333
        Poison       68.333333
        Psychic      73.000000
        Rock         82.750000
        Steel        86.000000
Name: Attack, Length: 136, dtype: float64

## Trabalhar com grandes quantidades de dados

In [67]:
novo_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv(r'C:\Users\apvs\Documents\DataPokemom.csv', chunksize=100):   # Lendo 100 linhas de cada vez
    print(df)

     #                   Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0    1              Bulbasaur   Grass  Poison   45      49       49       65
1    2                Ivysaur   Grass  Poison   60      62       63       80
2    3               Venusaur   Grass  Poison   80      82       83      100
3    3  VenusaurMega Venusaur   Grass  Poison   80     100      123      122
4    4             Charmander    Fire     NaN   39      52       43       60
..  ..                    ...     ...     ...  ...     ...      ...      ...
95  88                 Grimer  Poison     NaN   80      80       50       40
96  89                    Muk  Poison     NaN  105     105       75       65
97  90               Shellder   Water     NaN   30      65      100       45
98  91               Cloyster   Water     Ice   50      95      180       85
99  92                 Gastly   Ghost  Poison   30      35       30      100

    Sp. Def  Speed  Generation  Legendary
0        65     45           1      False
1        80     60           1      False
2       100     80           1      False
3       120     80           1      False
4        50     65           1      False
..      ...    ...         ...        ...
95       50     25           1      False
96      100     50           1      False
97       25     40           1      False
98       45     70           1      False
99       35     80           1      False

[100 rows x 12 columns]
       #                   Name    Type 1  Type 2   HP  Attack  Defense  \
100   93                Haunter     Ghost  Poison   45      50       45
101   94                 Gengar     Ghost  Poison   60      65       60
102   94      GengarMega Gengar     Ghost  Poison   60      65       80
103   95                   Onix      Rock  Ground   35      45      160
104   96                Drowzee   Psychic     NaN   60      48       45
..   ...                    ...       ...     ...  ...     ...      ...
195  181               Ampharos  Electric     NaN   90      75       85
196  181  AmpharosMega Ampharos  Electric  Dragon   90      95      105
197  182              Bellossom     Grass     NaN   75      80       95
198  183                 Marill     Water   Fairy   70      20       50
199  184              Azumarill     Water   Fairy  100      50       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
100      115       55     95           1      False
101      130       75    110           1      False
102      170       95    130           1      False
103       30       45     70           1      False
104       43       90     42           1      False
..       ...      ...    ...         ...        ...
195      115       90     55           2      False
196      165      110     45           2      False
197       90      100     50           2      False
198       20       50     40           2      False
199       60       80     50           2      False

[100 rows x 12 columns]
       #       Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
200  185  Sudowoodo    Rock     NaN  70     100      115       30       65
201  186   Politoed   Water     NaN  90      75       75       90      100
202  187     Hoppip   Grass  Flying  35      35       40       35       55
203  188   Skiploom   Grass  Flying  55      45       50       45       65
204  189   Jumpluff   Grass  Flying  75      55       70       55       95
..   ...        ...     ...     ...  ..     ...      ...      ...      ...
295  272   Ludicolo   Water   Grass  80      70       70       90      100
296  273     Seedot   Grass     NaN  40      40       50       30       30
297  274    Nuzleaf   Grass    Dark  70      70       40       60       40
298  275    Shiftry   Grass    Dark  90     100       60       90       60
299  276    Taillow  Normal  Flying  40      55       30       30       30

     Speed  Generation  Legendary
200     30           2      False
201     70           2      False
202     50           2      False
203     80           2      False
204    110           2      False
..     ...         ...        ...
295     70           3      False
296     30           3      False
297     60           3      False
298     80           3      False
299     85           3      False

[100 rows x 12 columns]
       #               Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
300  277            Swellow   Normal  Flying  60      85       60       50
301  278            Wingull    Water  Flying  40      30       30       55
302  279           Pelipper    Water  Flying  60      50      100       85
303  280              Ralts  Psychic   Fairy  28      25       25       45
304  281             Kirlia  Psychic   Fairy  38      35       35       65
..   ...                ...      ...     ...  ..     ...      ...      ...
395  361            Snorunt      Ice     NaN  50      50       50       50
396  362             Glalie      Ice     NaN  80      80       80       80
397  362  GlalieMega Glalie      Ice     NaN  80     120       80      120
398  363             Spheal      Ice   Water  70      40       50       55
399  364             Sealeo      Ice   Water  90      60       70       75

     Sp. Def  Speed  Generation  Legendary
300       50    125           3      False
301       30     85           3      False
302       70     65           3      False
303       35     40           3      False
304       55     50           3      False
..       ...    ...         ...        ...
395       50     50           3      False
396       80     80           3      False
397       80    100           3      False
398       50     25           3      False
399       70     45           3      False

[100 rows x 12 columns]
       #                 Name    Type 1 Type 2   HP  Attack  Defense  Sp. Atk  \
400  365              Walrein       Ice  Water  110      80       90       95
401  366             Clamperl     Water    NaN   35      64       85       74
402  367              Huntail     Water    NaN   55     104      105       94
403  368             Gorebyss     Water    NaN   55      84      105      114
404  369            Relicanth     Water   Rock  100      90      130       45
..   ...                  ...       ...    ...  ...     ...      ...      ...
495  446             Munchlax    Normal    NaN  135      85       40       40
496  447                Riolu  Fighting    NaN   40      70       40       35
497  448              Lucario  Fighting  Steel   70     110       70      115
498  448  LucarioMega Lucario  Fighting  Steel   70     145       88      140
499  449           Hippopotas    Ground    NaN   68      72       78       38

     Sp. Def  Speed  Generation  Legendary
400       90     65           3      False
401       55     32           3      False
402       75     52           3      False
403       75     52           3      False
404       65     55           3      False
..       ...    ...         ...        ...
495       85      5           4      False
496       40     60           4      False
497       70     90           4      False
498       70    112           4      False
499       42     32           4      False

[100 rows x 12 columns]
       #        Name    Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
500  450   Hippowdon    Ground       NaN  108     112      118       68
501  451     Skorupi    Poison       Bug   40      50       90       30
502  452     Drapion    Poison      Dark   70      90      110       60
503  453    Croagunk    Poison  Fighting   48      61       40       61
504  454   Toxicroak    Poison  Fighting   83     106       65       86
..   ...         ...       ...       ...  ...     ...      ...      ...
595  535     Tympole     Water       NaN   50      50       40       50
596  536   Palpitoad     Water    Ground   75      65       55       65
597  537  Seismitoad     Water    Ground  105      95       75       85
598  538       Throh  Fighting       NaN  120     100       85       30
599  539        Sawk  Fighting       NaN   75     125       75       30

     Sp. Def  Speed  Generation  Legendary
500       72     47           4      False
501       55     65           4      False
502       75     95           4      False
503       40     50           4      False
504       65     85           4      False
..       ...    ...         ...        ...
595       40     64           5      False
596       55     69           5      False
597       75     74           5      False
598       85     45           5      False
599       75     85           5      False

[100 rows x 12 columns]
       #        Name Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
600  540    Sewaddle    Bug     Grass  45      53       70       40       60
601  541    Swadloon    Bug     Grass  55      63       90       50       80
602  542    Leavanny    Bug     Grass  75     103       80       70       80
603  543    Venipede    Bug    Poison  30      45       59       30       39
604  544  Whirlipede    Bug    Poison  40      55       99       40       79
..   ...         ...    ...       ...  ..     ...      ...      ...      ...
695  634    Zweilous   Dark    Dragon  72      85       70       65       70
696  635   Hydreigon   Dark    Dragon  92     105       90      125       90
697  636    Larvesta    Bug      Fire  55      85       55       50       55
698  637   Volcarona    Bug      Fire  85      60       65      135      105
699  638    Cobalion  Steel  Fighting  91      90      129       90       72

     Speed  Generation  Legendary
600     42           5      False
601     42           5      False
602     92           5      False
603     57           5      False
604     47           5      False
..     ...         ...        ...
695     58           5      False
696     98           5      False
697     60           5      False
698    100           5      False
699    108           5       True

[100 rows x 12 columns]
       #                      Name    Type 1    Type 2  HP  Attack  Defense  \
700  639                 Terrakion      Rock  Fighting  91     129       90
701  640                  Virizion     Grass  Fighting  91      90       72
702  641   TornadusIncarnate Forme    Flying       NaN  79     115       70
703  641     TornadusTherian Forme    Flying       NaN  79     100       80
704  642  ThundurusIncarnate Forme  Electric    Flying  79     115       70
..   ...                       ...       ...       ...  ..     ...      ...
795  719                   Diancie      Rock     Fairy  50     100      150
796  719       DiancieMega Diancie      Rock     Fairy  50     160      110
797  720       HoopaHoopa Confined   Psychic     Ghost  80     110       60
798  720        HoopaHoopa Unbound   Psychic      Dark  80     160       60
799  721                 Volcanion      Fire     Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
700       72       90    108           5       True
701       90      129    108           5       True
702      125       80    111           5       True
703      110       90    121           5       True
704      125       80    111           5       True
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[100 rows x 12 columns]

## Demais Utilidades

In [75]:
# Trasformando uma lista em um DataFrame

alunos = {"Nome":["Pedro","Lucas","Tiago","Rafael"],
         "Notas":[6.1,5.0,3.9,9.7],
         "Aprovado":["Sim","Não","Não","Sim"]}

data_frame_alunos = pd.DataFrame(alunos)
print(data_frame_alunos)

     Nome  Notas Aprovado
0   Pedro    6.1      Sim
1   Lucas    5.0      Não
2   Tiago    3.9      Não
3  Rafael    9.7      Sim

In [76]:
# Excluindo Colunas do DataFrame

# axis=1 significa que é uma coluna
# axis=0 significa que é uma linha

data_frame_alunos.drop("Aprovado",axis=1,inplace=True)
data_frame_alunos.head()

     Nome  Notas
0   Pedro    6.1
1   Lucas    5.0
2   Tiago    3.9
3  Rafael    9.7